@import "tailwindcss";


/* styles.css or globals.css
@font-face {
  font-family: "DM-Sans";
  src: url(../src/font/DMSans-Regular.ttf);
}

@font-face {
  font-family: "DM-Sans-semibold";
  src: url(../src/font/DMSans-SemiBold.ttf);
}

@font-face {
  font-family: "DM-Sans-bold";
  src: url(../src/font/DMSans-Bold.ttf);
}

@font-face {
  font-family: "Anton";
  src: url(../src/font/Anton-Regular.ttf);
} */

@theme {
  --color-primary: #0176BD;
  --color-secondary: #fff;
  --color-black: #000;
  --font-primary: "DM Sans", sans-serif;
  --font-heading: "Anton", sans-serif;
}

body {
  @apply font-primary
}

h1, h2, h4 {
  @apply font-heading
}

header nav ul li a.active, header nav ul li a:hover {
  @apply text-primary
}


/* style css */

@layer utilities {
  @keyframes slide {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .animate-slide {
    animation: slide 30s linear infinite;
  }
}

.backdrop-blur-box {
  background-color: rgb(255 255 255 / 54%);
  backdrop-filter: blur(6px);
}

.background-text {
  position: sticky;
  top: 0;
  z-index: -1;
}

[data-animate] {
  opacity: 0;
  transform: translateY(30px);
  transition: none !important;
  will-change: opacity, transform;
}


@media (max-width: 400px) {
  .blog-overlay {
    font-size: 12px;
    max-height: 360px;
    rotate: -2deg;
    border-radius: 10px;
  }
}

.why-card {
  position: relative;
}

.dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: red;
  z-index: 6
}

.clock.aus_clock {
  background-color: #000;
  border-color: #fff;
}

.clock.aus_clock .dot, .clock.aus_clock .hour-hand, .clock.aus_clock .minute-hand {
  background: #fff;
}